*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roborto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}
main{
    height: calc(100vh - 7-px);
    display: flex;
    background-color: #f9f9f9;
}
.aside-bar{
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
}
@media (max-width: 768px) {
    .aside-bar{
    display: none;
    }
}
.left{
    display: flex;
    align-items: center;
}
.left #menu{
    padding: 0 7px;
    cursor: pointer;
}
.search{
    display: flex;
}
.search form{
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}
.search form img{
    width: 50px;
    height: 40px;
}
.search input{
    width: 500px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px;
}
form{
    border-radius: 0px;
}
input:focus{
    outline: none;
    border: 1px solid #ddd;
}
.search button{
    height: 100%;
    width: 60px;
    border: none;
}
.search img{
    width: 50px;
}
.logos-right{

}
.logos-right img{
    width: 50px;
    margin-top: 5px;
}
.logos-right #ben{
 /* margin-right: 10px; */
 padding: 10px;
}
.logos-right #dan{
 /* margin-right: 10px; */
 padding: 10px;

  
}
.logos-right #don{
 padding: 10px;
  
}
.working-logos-display{
    width: 50px;

}
.mic{
    margin-top: 10px;
}
.working-logos{
    width: 50px;
    color: rgb(100, 100, 100);
    padding: 07px;
    cursor: pointer;
}
.left img{
    width: 120px;

}
.left #tom{
    width: 50px;
    margin-right: 20px;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
.nav-link span{
    margin-left: 15px;
}
.nav-link:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.active{
    background-color: #e5e5e5;
}
.nav img{
    width: 30px;
    /* margin-left: 20px; */
}
.nav span{
    margin-left: 15px;
    /* font-size: 20px; */
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
.nav-link img{
    width: 30px;
}
.content{
    background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }